/* Importing Figtree Font */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --yellow-color: hsl(47, 88%, 63%);
    --white-color: hsl(0, 0%, 100%);
    --gray-950: hsl(0, 0%, 7%);
    --gray-500: hsl(0, 0%, 42%);
}

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Font styling */
.figtree-bold {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;  
    font-size: clamp(0.75rem, 0.5938rem + 0.5vw, 0.875rem);
    line-height: 150%;
    letter-spacing: 0px;
    color: var(--gray-950);
}

.figtree-extra-bold {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;  
    font-size: clamp(1.25rem, 0.9375rem + 1vw, 1.5rem);
    line-height: 150%;
    letter-spacing: 0px;
    color: var(--gray-950);
}

.figtree-medium-14 {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;  
    font-size: clamp(0.75rem, 0.5938rem + 0.5vw, 0.875rem);
    line-height: 150%;
    letter-spacing: 0px;
    color: var(--gray-950);
}

.figtree-medium-16 {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;  
    font-size: clamp(0.875rem, 0.7188rem + 0.5vw, 1rem);
    line-height: 150%;
    letter-spacing: 0px;
    color: var(--gray-500);
}

/* Author image and name */ 
.author {
    display: flex;
    flex-direction: row;
    width: 129px;
    height: 32px;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.author::before {
    content: "";
    background: url("./assets/images/image-avatar.webp");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
}

/* Add hover and focus to HTML & CSS foundations*/
.figtree-extra-bold:hover {
    color: var(--yellow-color);
    cursor: pointer;
}

.figtree-extra-bold:focus {
    color: var(--yellow-color);
}

.category {
    width: 82px;
    height: 29px;
    display: flex;
    flex-direction: row;
    background: var(--yellow-color);
    justify-content: center;
    align-items: center;
    border-radius: 0.30em;
}

main {
    width: 384px;
    height: 522px;
    display: grid;
    grid-template-columns: 1fr;
}